
* {
    color: #D0DCE8;
    text-decoration: none !important;
}

.maintitle {
    font-size: 5em;
}

@media screen and (max-width:820px) {
    #footer__logo {
        display: none;
    }

    .pt-60 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #about {
        display: none;
    } 
    #about2 {
        display: none;
    } 
    .maintitle {
        font-size: 2em;
    }

    .rotate {
        display: none;
    }
}

.b-gradient-g {
    border: 2.5px solid;
    border-image: linear-gradient(#ff0000, #0b211d) 10;
    
}

.Gigano-green {
    color: #41E3C1;
}

.Gigano-white {
    color: #D0DCE8;
}
a.no-underline:hover{
    color: #ff0000;
}
